pkgbase = xuan-bin
	pkgdesc = Image editor for layered compositions, photo retouching, and Nikon RAW development (prebuilt binary)
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/silverling/xuan
	arch = x86_64
	license = MIT
	license = Apache-2.0
	license = LGPL-2.1-only
	license = OFL-1.1
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libx11
	depends = libxcb
	depends = libxcursor
	depends = libxfixes
	depends = libxi
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxrandr
	depends = shared-mime-info
	depends = vulkan-icd-loader
	depends = wayland
	optdepends = libheif: HEIC/HEIF import
	optdepends = vulkan-driver: hardware accelerated rendering
	optdepends = xdg-desktop-portal: native file dialogs
	provides = xuan
	conflicts = xuan
	options = !strip
	source = https://github.com/silverling/xuan/releases/download/v0.1.1/xuan-0.1.1-linux-x86_64.tar.gz
	sha256sums = ca09e8f9cf4b24862cc607e3656f4755c8c969e6c182db6026107dd5dbeaf64e

pkgname = xuan-bin
