pkgbase = spdl
	pkgdesc = Download StepMania packs through the terminal
	pkgver = 1
	pkgrel = 3
	url = https://git.cbps.xyz/swindlesmccoop/spdl
	arch = i686
	arch = x86_64
	arch = armv7h
	license = CUSTOM
	provides = spdl
	conflicts = spdl
	source_i686 = https://git.cbps.xyz/swindlesmccoop/spdl/raw/branch/master/spdl::spdl
	source_x86_64 = https://git.cbps.xyz/swindlesmccoop/spdl/raw/branch/master/spdl::spdl
	source_armv7h = https://git.cbps.xyz/swindlesmccoop/spdl/raw/branch/master/spdl::spdl

pkgname = spdl
